/*pracownik_start.php*/

body
{
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
	background: lightgray;
	
    background: -webkit-linear-gradient(lightgray, steelblue); 
    background: -o-linear-gradient(lightgray, steelblue); 		
    background: -moz-linear-gradient(lightgray, steelblue); 	
    background: linear-gradient(lightgray, steelblue); 	
}

footer
{
	position: relative;
	bottom: 0px;
	width: 99%;
	text-align: center;
	font-size: 0.8em;
	background: steelblue;
}

@font-face	

{
	font-family: 'MyFont';
	src: url(RemachineScript.ttf);
}

.tytul
{
	text-align: center;
	font-family: 'MyFont', times new roman;
	font-size: 100px;
	color: red;
	font-weight: bold;
	text-shadow: 5px 5px #AA000088;
}

.my_form
{
	min-height: 300px;
}

.c
{
	text-align: center;
}

.err
{
	display: block;
	font-size: 18px;
	color: #AA0000;
}

.err:empty
{
	visibility: hidden;
	min-height: 0px;
}

.nf
{
	text-align: right;
	font-size: 20px;
	width: 110px;
	position: relative;
	display: inline-block;
}

.yI
{
	margin-top: 10px;
	position: relative;
    color: black;
    font-size: 22px;
    height: 30px;
    width: 200px;
    cursor: pointer;
    border-radius: 5px;
}

.yII
{
	font-size: 20px;
	padding: 10px;
	padding-right: 50px;
	padding-left: 50px;
	border-radius: 20px;
	background-color: red;
	margin-top: 40px;
	border-style: none;
	box-shadow: 3px 3px #AA000088;
}

.zeg
{
	text-align: center;
	position: relative;
	color: black;
	font-size: 20px;
}

.zPS
{
	margin-top: 30px;
	margin-bottom: 53px;
}

/*pracownik_start.php*/
/*kasjer_start.php*/

.boix
{
	margin: 2%;
	width: 	95.5%;
	height: 698px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

.boix > .menu
{
	height: 100%;
	width: 20%;
	border: 3px solid steelblue;
}

.boix > .panel
{
	width: 80%;
	height: 100%;
	border-top:    3px solid steelblue;
	border-right:  3px solid steelblue;
	border-bottom: 3px solid steelblue;
}

.cButtonNav
{
	margin-top: 2.5%;
	margin-left: 2.5%;
	position: relative;
    background-color: gray;
    padding: 16px;
    color: black;
    font-size: 16px;
    width: 95%;
    height: 66px;
    cursor: pointer;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.clG
{
	background-color: #00AA00CC;
}

.clV
{
	background-color: #9400D3AA;
}

.wyl
{
	margin-top: 300px;
	background-color: #880000;
}

.zM
{
	bottom: -30px;
}

.zegLB
{
	position: relative;
	display: box;
	bottom: -30px;
	width: 100%;
	text-align: center;
    color: black;
    font-size: 20px;
}

.pow
{
	text-align: center;
	margin-top: 280px;
}

/*kasjer_start.php*/
/*kasjer_bilety.php*/

.fWysz
{
	display: inline-block;
	margin-top: 100px;
	width: 370px;
	height: 62%;
	margin-left: 30px
}

.nfb
{
	width: 160px;
}

.lSpek
{
	position: absolute;
	margin-left: 450px;
	width: 500px;
	height: 500px;
	overflow-y: auto;
}

.spek
{
	display: block;
	background-color: #0000FF88;
	border: 2px outset lightgray;
	width:99%;
	height: 24.2%;
}

.tyt
{
	padding: 1px;
	padding-left: 7px;
	position: relative;
	display: inline-block;
	width: 120px;
}

.val
{
	display: inline-block;
	position: relative;
}

.pod
{
	position: relative;
	display: inline-block;
	margin-left: 80%;
	top: -99%;
	width: 20%;
	height: 100%;
	font-size: 16px;
	font-weight: bold;
	background-color: #EEB422;
}

.cButtonPow
{
	margin-left: 20%;
	display: block;
	position: relative;
    background-color: #880000;
    padding: 16px;
    color: black;
    font-size: 16px;
    width: 20%;
    height: 66px;
    cursor: pointer;
    border-radius: 100px;
}

/*kasjer_bilety.php*/
/*kasjer_podglad.php*/

.fSala
{
	width: 100%;
	height: 85%;
}

.salaG
{
	padding: 3px;
	display: inline-block;
	position: relative;
	width: 64%;
	min-height: 65%;
	border: 2px outset lightgray;
}

.salaBI
{
	padding: 3px;
	display: inline-block;
	position: relative;
	width: 33%;
	height: 65%;
	border: 2px outset lightgray;
}

.salaBII
{
	padding: 3px;
	display: block;
	position: relative;
	width: 98.5%;
	height: 32.7%;
	border: 2px outset lightgray;
}

.sala
{
	font-size: 26px;
	margin: 10px;
	text-align: center;
	font-weight: bold;
}

.rzad
{
	display: inline-block;
	position: relative;
	top: -10px;
	width: 35px;
	text-align: center;
    white-space: nowrap;
}

.miej
{
	display: inline-block;
	position: relative;
	width: 32px;
	margin-bottom: 10px;
	text-align: center;
    white-space: nowrap;
}

input[type=checkbox] 
{
    border-radius:10px;
    border-top-right-radius: 15px;
	border-top-left-radius: 15px;
    -webkit-appearance:button;
    background-color: #008800;
    white-space: nowrap;
    width:25px;
    height:25px;
}

.lCh[type=checkbox] 
{
    border-radius:0px;
    border-top-right-radius: 0px;
	border-top-left-radius: 0px;
    -webkit-appearance:button;
    background-color: #008800;
    white-space: nowrap;
    width:15px;
    height:15px;
}

input[type=checkbox]:checked 
{
    background-color: #800080;
}

.kl1[type=checkbox]
{
	background-color: #004400;
}

.kl1[type=checkbox]:checked
{
    background-color: #400040;
}

.kl2[type=checkbox]
{
	background-color: #00AA00;
}

.kl2[type=checkbox]:checked
{
    background-color: #A000A0;
}

.klD[type=checkbox]
{
	background-color: #DDDDDD;
}

.leg
{
	margin-top: 0.5%;
	margin-left: 3%;
	position: absolute;
}

.rzad2
{
	display: inline-block;
	position: relative;
	top: -5px;
	width: 60px;
    white-space: nowrap;
}

.powP
{
	margin-top: 23px;
	margin-left: 20%;
	display: inline-block;
	position: relative;
    white-space: nowrap;
}

.powZ
{
	margin-left: 0px;
	background-color: #00AA00CC;
	left: 30%;
	display: inline-block;
	position: relative;
}


.checkbox
{
	display: inline-block;
	position: relative;
	width:25px;
	height:25px;
    padding-left:0px;
    padding-right:7px;
}

.checkbox:hover .hdt
{
	visibility: visible;
	display: block;
}

.hdt
{
	display: none;
	position: absolute;
	left: -140px;
	top: -80px;
	overflow: hidden;
	z-index: 7;

	border: outset lightgray 2px;
	background-color: #fffdd0;
	border-radius: 10px;
	width: 140px;
}

.tyt2
{
	width: 60px;
}

.val2
{
	width: 70px;
}

.error
{
	margin-left: -14%;
	position: relative;
	display: inline-block;
	font-size: 18px;
	color: #AA0000;
}

.error:empty
{
	display: none;
	visibility: hidden;
	min-height: 0px;
}


/*kasjer_podglad.php*/
/*h_kasjer_podsumowanie.php*/
.pod
{
	position: relative;
	display: inline-block;
	margin-left: 80%;
	top: -99%;
	width: 20%;
	height: 100%;
	font-size: 16px;
	font-weight: bold;
	background-color: #EEB422;
}

.spek2
{
	display: inline-block;
	position: relative;
	background-color: #DDA31188;
	border: 2px outset lightgray;
	width:32.85%;
	height: 36%;
}

.usX
{
	position: absolute;
	display: inline-block;
	margin-top: 27%;
	margin-left: 74%;
	top: 0%;
	width: 25%;
	height: 50%;
	color: white;
	font-size: 36px;
	font-weight: bold;
	background-color: steelblue;
}

.cButtonPods
{
	margin-top: 0px;
	margin-left: 10%;
	position: relative;
	display: inline-block;
    background-color: #880000;
    padding: 16px;
    color: black;
    font-size: 16px;
    width: 20%;
    height: 66px;
    cursor: pointer;
    border-radius: 100px;
}

.colS
{
    background-color: silver;
}

.colG
{
	background-color: #00AA00CC;
}

.colV
{
	background-color: #9400D3AA;
}

.suma
{
	display: block;
	width: 50%;
	margin-left: 25%;
	padding: 10px;
	font-size: 32px;
	border: 3px outset silver;
	text-align: center;
	margin-top: 10px;
}

/*h_kasjer_podsumowanie.php*/